<mat-drawer-container class="example-container">

  <mat-drawer mode="side" class="left" opened>
    <img src="https://img.freepik.com/fotos-premium/vista-trasera-hombre-negocios-pie-tienda_1048944-23341972.jpg" alt="Imagen de E-Commerce" class="sidebar-image">
  </mat-drawer>

  <mat-drawer-content class="right">
    <div class="button-container">
      <button mat-icon-button>
        <mat-icon class="Navbaricon">search</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="Navbaricon">shopping_cart</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="Navbaricon">perm_identity</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="Navbaricon">help</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="Navbaricon">exit_to_app</mat-icon>
      </button>
    </div>
  </mat-drawer-content>

</mat-drawer-container>
