<mat-slide-toggle>Test</mat-slide-toggle>
<section class="container">
  <div class="info"></div>
  <div class="login">
      <form class="form">
          <div class="image">
              <img alt="">
          </div>
          <span class="title">Ingresar</span>
          <mat-form-field class="input">
              <mat-label>Usuario</mat-label>
              <input matInput formControlName="user" type="text">
          </mat-form-field>
          <mat-form-field class="input">
              <mat-label>Contraseña</mat-label>
              <input matInput formControlName="password" type="password">
              <button mat-icon-button matSuffix type="button">
                <mat-icon>remove_red_eye</mat-icon>
              </button>
          </mat-form-field>
          <div class="options">
              <span class="remember-password" >¿Olvide mi contraseña?</span>
              <span class="remember-password" >Registrarse</span>
          </div>
          <button mat-raised-button type="submit" color="primary btn">Ingresar ahora</button>
      </form>
  </div>
</section>
